<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @copyright Copyright © 2021 Orba. All rights reserved.
 * @author    info@orba.co
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="orba_style_guide" frontName="style_guide">
            <module name="Orba_StyleGuide"/>
        </route>
    </router>
</config>
