<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2023 Lingaro sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="lingaro_style_guide" frontName="style_guide">
            <module name="Lingaro_StyleGuide"/>
        </route>
    </router>
</config>
